.App {
  /* text-align: center;
  max-width: 600px;
  margin: 50px auto; */
}

.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.header {
  background-color: rgb(43, 2, 195);
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.img-div {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdfZNovqx9DkbeuV2dfr8qPIv_T6ImpYcZXA&usqp=CAU");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
  text-align: center;
}

.card-img-top {
  width: 300px;
  height: 200px;
}

.card {
  width: 300px;
  margin: 20px auto;
  /* max-height: 500px; */
  /* overflow-x: hidden; */
}

.pagination {
  margin: 15px auto;
  /* display: flex; */
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: rgb(145, 162, 254);
  border-color: rgb(145, 162, 254);
  color: #fff;
}
.pagination > li > a {
  border: 1px solid rgb(145, 162, 254);
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  color: rgb(43, 2, 195);
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: rgb(145, 162, 254);
  border-color: rgb(145, 162, 254);
  outline: none;
  color: white !important;
}
.pagination > li > a,
.pagination > li > span {
  color: rgb(43, 2, 195) !important;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
